/* 
1. 초기화 -> 여백값 설정
2. 각 영역 구분 설정 -> 주석 달기
3. 클래스 지정 영역 확인 -> header 영역 위로 클래스 내용 지정
4. 파트별 스타일 작성
5. 가로 100% 영역
6. 컨텐츠 가로 영역 1920px
*/
/* 
선택자
-tag -> 태그명(정해진 값이므로 변경할 수 없음) -> li 태그 선택시 li만 써야함
-class -> .클래스명
-id -> #아이디명
-> 클래스명, 아이디명 : 위치, 역할, 기능에 맞추어 지정
-> 첫번째 글자는 영어사용(빈 공백, 특수문자, 숫자 사용 안됨)
-> 전체 이름 설정시에 빈공백 인식 안함, 특수문자 -, _
-> 숫자 사용 가능
*/

/* 전체 */
*{
    margin: 0;
    padding: 0;
};
ol, ul, li {
    list-style: none;
};
/* 태그 그룹이 class보다 더 크다.. class로 잡은걸 id로 수정하면 우선순위상 id로 잡은걸로 수정한다. */
.width_box {
    width: 1920px;
    background-color: gray;
    /* 객체 사이의 여백, 가로크기 설정 후 margin 0 auto는 가로 중앙정렬 규칙*/
    margin: 0 auto; 
    display: inline-block;
};
.con_title {
    width: 300px;
    height: 100px;
    background-color: red;
    margin: 0 auto;
};

/* header 영역 */
#main_header{
    width: 100%;
    /* 자식인 serach_wrap의 위치 기준 */
    position: relative;
    height: 600px;
    background-color: rgb(245, 255, 207);
}
#main_top_nav_wrap {
    height: 200px;
};
#top_nav {
    height: 50px;
    border-bottom: 2px solid black;
};
#login_wrap {
    width: 350px;
    height: 100%;
    background-color: yellow;
    float: right;
};
/* 부모>자식, 부모안에 있는 자식을 선택할때 사용
부모>자식>손자
부모 손자=> 부모안에 있는 손자를 선택(자식도 선택가능)
우선순위 높은건 > 들어간것
위에서 쓴 li보다 우선순위 높다, 영역이 작은것이 우선순위가 높음 */
#login_wrap>li {
    /* float가 가장 기본적인 가로정렬 형태, 그 다음이 반응형 작업을 위해 나온 flex */
    float: left;
};

#bottom_nav {
    /* top_nav를 52px로 계산 */
    height: 148px;
    /* inline은 초기값에서 내가 모르는 여백이 들어감 그래서 잘 안쓴다!, 가로 정렬시 가장 많이 쓰는게 float, 그리고 쓰는게 flex */
};
#logo_wrap {
    width: 300px;
    float: left;
    background-color: aliceblue;
};
#logo_wrap li {
    float: left;
};
#main_wrap {
    width: 700px;
    float: left; 
    margin-left: 30px;
    background-color: antiquewhite;
};
#main_wrap li {
    float: left;
};
#right_menu_wrap {
    width: 500px;
    float:  right; 
    background-color: azure;
};
#right_menu_wrap li{
    float: left;
};

#search_wrap {
    width: 1200px;
    height: 300px;
    position: absolute;
    background: yellowgreen;
    left: 50%;
    margin-left: -600px;
    /* bottom쪽으로 떨어지는거라 -값 */
    bottom: -150px;
};

/* section 영역 */

/* footer 영역 */

